# Do not upload following files to Github

# R project files
.Rproj.user
.Rhistory
.RData
.Ruserdata
R/debug.R

# Data folders
Data/
_targets/

# target yaml
_targets.yaml

# secret files
secrets.yaml